<html>
	<head id="about">
		<title>About</title>
	</head>

	<body>
		<h1>About Here</h1>
		<pre class="yellow">
			that could be the <strong>Worst</strong> website you've ever seen
				 but I finally decided to put this version
				   	cuz it's we that will make it better , everyday :-)
		</pre>
		<pre class="green">
			And this ugly UI is to mention you 
			    We always have something to do

			While contrasting to the Home Page the css that I copied from the other site
					We know we are still far, but never mind that
		</pre>
		<footer id="link"><%= link_to "Home", root_path %></footer>
	</body>
	<%= yield %>
</html>

