.box {
    background-color: #FFFFFF;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-left: 300px;
    margin-right: 300px;
}



.head
h1 {
		text-align: center;
    font-size: 30px;
    line-height: 36px;
}